@import "variables";

body {
    overscroll-behavior: none;
}
#root {
    min-height: 100vh;
    height: 100%;
}

.inner {
    max-width: $layout-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.svg-defs {
    display: none;
}
