@use 'variables' as *;

/**
  Form
  ===================================================================
*/

.form {
    width: 100%;
    .form-inner {
        width: 100%;
    }
    .form-row {
        position: relative;
    }
    label,
    legend {
        font-weight: $light;
        font-size: 1rem;
    }
    legend {
        padding-bottom: 0.75rem;
    }
    .form-control {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-bottom: 2.8rem;
        label {
            color: $red-1;
            padding-top: 0.75rem;
            transition: transform 600ms $cubic-out;
        }
        input,
        textarea {
            font-weight: $medium;
            color: $grey-8;
            padding-top: 0.95rem;
            font-size: 1rem;
            letter-spacing: 1px;
            font-weight: $light;
            &::placeholder {
                opacity: 0;

                transition: opacity 600ms $cubic-out;
            }
        }
        input {
            width: 100%;
            height: 2.5rem;
            border-bottom: 1px solid $red-1;
        }
        textarea {
            width: 100%;
            min-height: 8rem;
            border-top: 1px solid $red-1;
            border-bottom: 1px solid $red-1;
            padding: 0.75rem 0;
            &::placeholder {
                opacity: 1;
            }
        }
        
        input:focus {
            &::placeholder {
                opacity: 1;
            }
        }
       
    }
    .error-message {
        position: absolute;
        bottom: -1.3rem;
        left: 0;
        font-size: 0.9rem;
        color: #fb6363;
        &.textarea {
            top: auto;
            bottom: 0.75rem;
            left: 0.75rem;
        }
    }
}

.form-action {
    display: flex;
    justify-content: flex-end;
    padding-top: 5rem;
    button {
        // font-size: 1.313rem;
        // color:$white;
        display: flex;
        transition: color .3s $cubic;
        cursor: pointer;
        &:hover{
            // color:$grey-2;
        }
        .text {
            line-height: 25px;
            padding-right: 1rem;
        }
        svg {
        width: 35px;
        height: 25px;
    }
}
}